{% extends "chat/root.html" %} {% load static %}
<br />
{% block stuffForHeader %}
<link rel="stylesheet" href="{% static 'chat/css/form.css' %}" />
{% endblock stuffForHeader %} {% block content %}
<main class="auth-form-container">
    <form method="post">
        <p>Create An Account</p>
        {{form.as_div}} {% csrf_token %}
        <p>Have an account, <a href="{% url 'login' %}">login</a></p>
        <button class="submit-button" type="submit">Submit</button>
        <br />
    </form>
</main>
{% endblock content %}
