{% extends "chat/root.html" %} {% load static %}
<br />
{% block stuffForHeader %}
<link rel="stylesheet" href="{% static 'chat/css/form.css' %}" />
{% endblock stuffForHeader %} {% block content %}
<main class="auth-form-container">
    <form method="post" enctype="multipart/form-data">
        {{form.as_div}} {% csrf_token %}
        <div>
            <label>Profile Image</label>
            <div class="helptext">
                You can update you profile image using this
                <a href="{% url 'profile-image-update' user.user_profile_info.id%}"
                    ><strong>form</strong></a
                >
            </div>
        </div>
        <button class="submit-button" type="submit">Submit</button>
        <p>Back to <a href="{% url 'home' %}">home</a></p>
    </form>
</main>
{% endblock content %}
